<div class="my-header">
  <h3>Comments</h3>
</div>

<div class="text-left">
  <p>
    <span><a class="btn btn-light" href="/addcomment/{{post_id}}" >Add Comment</a></span>
  </p>
</div>

<!-- Loop over each object in the posts array -->
{{#each comments as |comment| }}
<div class="row mb-4 post">
  <div class="col-md-12">

    <table class="my-table">
      <tr class="my-table-row">
        <td class="bg-light my-title-lcomment">Commenter: {{comment.user.name}}</td> 
        <td class="bg-light my-title-rcomment">{{format_date comment.date_created}}</td> 
      </tr>
    </table>

  </div>
  <div class="col-md-12 my-text">
    <p>
      {{comment.comment}}
    </p>
  </div>
</div>
{{/each}}