<div class="my-header">
  <h3>Dashboard</h3>
</div>

<div class="text-left">
  <p>
    <button class="btn btn-light">Comment</button>
    <a href="/add" class="btn btn-light">Add New</a>
    <button class="btn btn-light">Update</button>
    <button class="btn btn-light">Delete</button>
  </p>
</div>